* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  border: 1px solid #dadada;
  padding: 20px;
  min-width: 610px;
  zoom: 1;
}

/* Styling for the expanded item container */
#expanded-item-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

/* Styling for the expanded item content */
#expanded-item-content {
  background-color: #fff;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.expanded {
  opacity: 1;
  pointer-events: auto;
}

.centered {
  transform: translate(-50%, -50%);
}

.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
.wrapper .item-container {
  width: 33.3333%;
  float: left;
  border-bottom: 2px solid white;
  position: relative;
  font-size: 0;
}
.wrapper .item-container.last.first {
  border-width: 0;
}
.wrapper .item-container.last:after {
  content: "";
  position: absolute;
  left: 0;
  right: 80px;
  z-index: 1;
  top: -15px;
  height: 30px;
  display: block;
  background: #11101300;
}
.wrapper .item-container.last .bullet:after {
  content: "+";
  background-color: #59c77f;
  border-color: #59c77f;
  color: #fff;
  line-height: 24px;
}
.wrapper .item-container.last .bullet:hover:after {
  background-color: #3aac62;
  border-color: #3aac62;
}
.wrapper .item-container.last.even:after {
  left: 80px;
  right: 0px;
  top: initial;
  bottom: -15px;
}
.wrapper .item-container.odd {
  float: right;
  margin-top: 60px;
  border-bottom-width: 0;
  border-top: 2px solid white;
  text-align: right;
}
.wrapper .item-container.odd .item {
  margin-bottom: 0;
  margin-top: 35px;
}
.wrapper .item-container.odd .item:after {
  bottom: initial;
  top: -13px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.wrapper .item-container.odd .bullet {
  bottom: initial;
  top: -15px;
}
.wrapper .item-container.odd .bullet.first {
  left: 50%;
  margin-right: 0;
  margin-left: -20px;
  right: 0;
}
.wrapper .item-container.odd .bullet.first:after {
  right: initial;
  left: 5px;
}
.wrapper .item-container.odd .item-piece {
  vertical-align: top;
}
.wrapper .down-bar {
  background: #11101300;
  position: absolute;
  bottom: -15px;
  height: 30px;
  right: 0px;
  width: 80px;
}
.wrapper .down-bar:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  height: 40px;
  top: 15px;
  width: 2px;
  background: white;
}
.wrapper .item-piece {
  vertical-align: bottom;
  /* font-size 16px */
  text-align: center;
  max-width: 160px;
  width: 160px;
  min-height: 125px;
  background: #11101300;
  position: relative;
  display: inline-block;
}
.wrapper .item-piece:hover .item {
  border-color: #59c77f;
}
.wrapper .item-piece:hover .bullet:after {
  border-color: #59c77f;
}
.wrapper .item {
  border: 2px solid white;
  min-height: 220px;
  margin-bottom: 35px;
  position: relative;
  border-radius: 5px;
  vertical-align: bottom;
  display: inline-block;
  font-size: 14px;
  width: 100%;
}
.wrapper .item:after {
  content: "";
  width: 21px;
  height: 21px;
  border-bottom: 2px solid #dcdee0;
  border-left: 2px solid #dcdee0;
  border-color: inherit;
  position: absolute;
  bottom: -13px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fff;
  left: 50%;
  margin-left: -11.5px;
}
.wrapper .bullet {
  font-size: 16px;
  display: block;
  height: 30px;
  width: 40px;
  background-color: #11101300;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -20px;
  z-index: 2;
}
.wrapper .bullet.first {
  left: 0;
  width: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -20px;
}
.wrapper .bullet:after {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background: #fff;
  border: 2px solid white;
  border-radius: 15px;
  right: 5px;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.element {
  margin-top: 0.5rem;
  color: white;
  font-size: 17px;
}
.heading1 {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px !important;
  margin-top: 1rem;
}
.date {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
  /* left: 30%; */
  right: 10%;
}
.eventsHeading {
  margin-top: -3% !important;
  margin-bottom: 3% !important;
}
.elementSection {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
