html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111013 !important;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.superContainer {
  /* border: 0.025rem solid red; */

  height: 100%;
  width: 100vw;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.superContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.nav {
  display: flex !important;
  /* height: 7%; */
  /* margin-top: 6rem; */
  position: absolute;
  /* background: transparent; */
  /* gap: 20px; */
  align-items: center;
  /* padding: 2%; */
  padding-left: 4% !important;
  width: 100%;
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  gap: 40px;
  color: white;
  z-index: 1;
}

.nav div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.nav div p {
  height: min-content;
}

.nav div p a {
  text-decoration: none;
  color: white;
}

#logo {
  background: url("/public/logo.png");
  background-size: 50px;
  width: 10%;
  background-repeat: no-repeat;
  background-position: top;
}

.expContainer {

}

.expImg {
  /* padding: 50px 50px 50px 50px; */
  justify-content: space-evenly;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/public/Openlake/Background.png);

  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}

.expTag {
  font-family: "DM Sans", Sans-serif;
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 2rem;
  /* margin-top: 5%; */
}

.expTag h1 {
  color: #ecf2ff;
  font-family: "DM Sans", Sans-serif;
  font-size: 86px;
  height: auto;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.1em;
  letter-spacing: 0px;
  margin: auto;
  padding-top: 2rem;
}

.expTg {
  font-family: "DM Sans", Sans-serif;
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  gap: 2rem;
  /* margin-top: 5%; */
  padding-top: 2rem;
}

.expTg h1{
  color: #ecf2ff;
  font-family: "DM Sans", Sans-serif;
  font-size: 70px;
  height: auto;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.1em;
  letter-spacing: 0px;
  margin: auto;
}

.expTag p {
  width: 410px;
  line-height: 28px;
  margin-left: 35%;
}

.cardsContainer {
  margin-top: 10%;
  margin-bottom: 05%;
  padding: 0% 4% 0% 4%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: -1rem;
  --widgets-spacing: 20px;
  /* background-color: #111013; */
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 4rem;
  padding-left: 8%;
}

.cardsContainer div div {
  width: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardDisplay {
  border-radius: 20px;
  width: 100% !important;
}

#activityTracker {
  background-image: url("/public/Openlake/Activity_Tracker.png");
  background-size: cover;
}

#photoSharing {
  background-image: url("/public/Openlake/Photo_sharing.png");
  background-size: cover;
  background-position: center;
}

#CGPA {
  background-image: url("/public/Openlake/CGPA.png");
  background-size: cover;
  background-position: center;
}

#Homework {
  background-image: url("/public/Openlake/Homeworker.png");
  background-size: cover;
  background-position: center;
}

#canonforces {
  background-image: url("/public/Openlake/canonforces.png");
  background-size: cover;
  background-position: center;
}

#leaderboard {
  background-image: url("/public/Openlake/leaderboard.png");
  background-size: cover;
  background-position: center;
}

#Member1 {
  background-image: url("/public/CommunityImage/image1.jpg");
  background-size: cover;
  background-position: center;
}

.buttonContainer {
  width: 100% !important;
  height: 20% !important;
}

.button {
  background-color: #6c4ab6;
  padding: 0px 15px;
  width: max-content !important;
  border-radius: 60px;
  height: 40% !important;
  padding: 0px 15px !important;
  align-items: center;
  display: flex;
  color: white;
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.title {
  background-color: #6c4ab6;
  padding: 0px 15px;
  width: max-content !important;
  border-radius: 60px;
  height: 40% !important;
  /* padding: 0px 15px !important; */
  align-items: center;
  display: flex;
  color: white;
  font-family: "DM Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 1024px) {
  .cardsContainer div div {
    width: 25%;
  }
}

@media screen and (max-width: 925px) {
  .cardsContainer div div {
    width: 40%;
    height: 60vh;
  }

  .expTag h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 450px) {
  #fosLogo {
    display: none;
  }

  .expImg {
    padding: 15% 50% 0% 4%;
  }

  .expTag {
    gap: 1rem;
  }

  .expTag h1 {
    font-size: 46px;
    height: auto;
    width: 300px;
  }

  .expTag p {
    width: 289px;
    line-height: 28px;
  }

  .cardHolder {
    width: 100%;
    justify-content: center;
    gap: 1rem;
  }

  .cardsContainer div div {
    width: 70%;
    height: 70%;
  }

  #logo {
    background-image: url("/public/logo.png");
    background-size: contain;
    width: 45px;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 340px) {
  .cardsContainer div div {
    height: 70%;
  }
}
